<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Kristopher Johnson</string>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>Hide Stack Overflow Deleted Answers</string>
	<key>CFBundleIdentifier</key>
	<string>net.kristopherjohnson.hidestackoverflowdeletedanswers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Stylesheets</key>
		<array>
			<string>HideStackOverflowDeletedAnswers.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Hides all deleted answers on stackoverflow.com</string>
	<key>DeveloperIdentifier</key>
	<string>D5E423632K</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>stackoverflow.com</string>
				<string>meta.stackoverflow.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/kristopherjohnson/HideStackOverflowDeletedAnswers</string>
</dict>
</plist>
